<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Donate! | Designer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- css styles -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Changa+One&display=swap" rel="stylesheet">
    
</head>

<body>
       <div class="p-3 mb-2 bg-danger text-yellow">
    <header>
            <div class="p-3 mb-2 bg-warning text-white">

        <a href="about.ejs">
            <h1>Bren Quinlan</h1>
            <h2>Professional Designer,
                Professional Entrepeanur,
                Professional School Nurse, 
                Professional Gamer, 
                Professional Big Guy, 
                Professional Crayon Eater, 
                Professional Cthulu Worshipper, 
                Professional Professional</h2>
        </a>
        
            <ul class="nav" >
                <!-- page links -->
                <li class="nav-item mr-3">
                    <a href="about.ejs" target="blank">About</a>
                </li>
                <li class="nav-item mr-3">
                    <a href="https://www.patreon.com/user/creators?u=21160475" target="blank">Donate</a>
                </li>
                <li class="nav-item mr-3">
                    <a href="https://www.patreon.com/user/creators?u=21160475" target="blank">Patreon</a>
                </li>
                <li class="nav-item mr-3">
                    <a href="https://www.patreon.com/user/creators?u=21160475" target="blank">Kickstarter</a>
                </li>
                <li class="nav-item mr-3">
                    <a href="https://www.patreon.com/user/creators?u=21160475" target="blank" >Pay My Rent</a>
                </li>
                <li class="nav-item mr-3">
                    <a href="https://www.reddit.com/r/whydoesthisexist/" target="blank">Why This Exists</a>
                </li>
                <li class="nav-item mr-3">
                    <a href="WhyYouAre.ejs" target="blank">Why You Are Going To</a>
                </li>
                <li class="nave-item mr-3">
                    <a href="WhyYouShould.ejs" target="blank">Why You Should Donate</a>
                </li>
            </ul>
            </div>
    </header>
    
        <div id="wrapper">
            
    <footer>
        <a href="https://twitter.com/weirdler" target="blank"><img src="img/twitter-wrap.png" alt="Twitter" class="social-icons"></a>
        <a href="https://facebook.com/bren.quinlan" target="blank"><img src="img/facebook-wrap.png" alt="Facebook" class="social-icons"></a>
        <a href="img/FUCKING NORMIES REEEEEEEEEEE Sound Effect.mp3"><img src="img/phone.png" alt="Phone Number" class="social-icons"></a>
        <p>&copy; 2019 Soup Inc.</p>
    </footer>
        </div>
</body>
</div>
</html>